# ==========================================
# 🧠 INTELIGENCIA ARTIFICIAL (PYTHON WORKERS)
# ==========================================
GROQ_API_KEY=gsk_...
MISTRAL_API_KEY=...
NVIDIA_API_KEY=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

# ==========================================
# 🔌 SERVIDOR Y PROTOCOLOS
# ==========================================
ENVIRONMENT=development
API_V1_STR=/api/v1
MCP_SERVER_PORT=8000

# ==========================================
# 🌐 SCRAPING & TOOLS EXPERTAS
# ==========================================
# BROWSERLESS_TOKEN=...
# TAVILY_API_KEY=tvly-...
