# Configuración de Servidor
PORT=4000
NODE_ENV=development

# LLM Providers (API Keys)
OPENAI_API_KEY=your_openai_key
ANTHROPIC_API_KEY=your_anthropic_key
GOOGLE_API_KEY=your_google_key
GROQ_API_KEY=your_groq_key
MISTRAL_API_KEY=your_mistral_key
NVIDIA_API_KEY=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


# Ruteo de Inteligencia
PRIMARY_SMART_PROVIDER=openai
PRIMARY_FAST_PROVIDER=groq

# Persistencia LangGraph (Checkpointing)
DATABASE_URL=postgres://user:pass@localhost:5432/startup_db
